html,
body {
  padding: 0;
  margin: 0; 
}

body {
   min-width: 1200px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;  
  font-weight: normal;
  color: #000;
  background-color: #849d8f;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.central-block {
  width: 1146px;
  margin: 0 auto; 
}
 
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0;
  border: 0;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}



.main-header {
  min-height: 120px;
  box-sizing: border-box;
  padding-top 10px;
  background-color red;
}

.logo {  
  height: 64px;
  width: 154px;
  float: left;
  margin-top: 10px;
  background-color green;
}

.main-menu {
  font-family: "Roboto", "Arial", sans-serif;  
  line-height: 18px;  
  font-weight: bold;
  color: #fff;
  font-size: 0;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-color green;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;    
  background-color blue;
}

.main-menu a {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;  
  font-weight: bold;
  color: #fff;
  text-decoration: underline;   
   padding: 10px 15px;
  display: block;
  border-radius: 20px;

}

.main-menu a:hover {  
  color: #000;
  background-color: #fff;
  text-decoration: none;   
}

.nav-2 {
  min-height: 100px;
  width: 272px;
  float: right;
  margin-top: 20px;
  background-color green;
}


.button-1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-right: 9px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;  
  font-weight: 500;
  color: #A0B4A9;
  background-color: #A0B4A9;
  position: relative;
 box-sizing: border-box; 
 position: relative;
}


.button-1:hover {  
  color: #fff;
  background-color: #fff;
}

.button-1::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 18px;
  top: 6px;
  left: 6px;
  background-image: url("../img/sprite-1.png");
  background-position: 92px;
  z-index: 2;
}

.button-1:hover::before {  
  background-image: url("../img/sprite-1.png");
  background-position: 53px; 
}


.button-2 {
  height: 30px;
  width: 95px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-right: 9px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;  
  font-weight: 500;
  color: #fff;
  box-sizing: border-box;
  padding-left: 30px;
  background-color: #A0B4A9;
  position: relative;
}

.button-2::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  left: 15px;
  background-image: url("../img/sprite-1.png");
  background-position: -50px;
}

.button-2:hover::before {  
  background-image: url("../img/sprite-1.png");
  background-position: -88px; 
}

.button-2:hover {   
  background-color: #fff;
  color: #000;
}

.button-3 {
  height: 30px;
  width: 115px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;  
  font-weight: 500;
  color: #fff;
  background-color: #A0B4A9;
  box-sizing: border-box;
  padding-left: 30px;
  position: relative;  
}

.button-3::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  left: 20px;
  background-image: url("../img/sprite-1.png");
  background-position: 20px;
}

.button-3:hover::before {  
  background-image: url("../img/sprite-1.png");
  background-position: -30px;  
}

.button-3:hover {   
  background-color: #fff;
  color: #000;
}

.nav-2-text { 
  width: 175px;
  margin-top: 20px;
  margin-left: 100px;  
  background-color blue;
}

.nav-2-text span { 
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;  
  font-weight: bold;
  color: #fff;
  margin-left: 16px; 
}

.nav-2-text b {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 22px;
  line-height: 24px;  
  font-weight: bold;
  color: #fff;
  display: block; 
  margin-top: 5px;
}

.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.2;  
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
 
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: inherit;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
   background-color: rgba( 255, 255, 255, 0.5);  
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


.promotions {
  height: 229px;
  margin-top: 40px;  
}

.promotion-1 {
  height: 229px;
  width: 560px;
  float: left;
  border-radius: 15px;
  background-image: url("../img/promotion-1.jpg");
  
}

.promotion-2 {
  height: 229px;
  width: 560px;
  float: right;
  border-radius: 15px;
  background-image: url("../img/promotion-2.jpg");
  
}

.promotion-title {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 35px;
  line-height: 41px;  
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;  
}

.promotion-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;  
  font-weight: bold;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 50px;
}

.promotion-1 a,
.promotion-2 a {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;  
  font-weight: bold;
  color: #fff;
  padding: 13px 25px;
   background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  margin-left: 365px;
}

.promotion-2 a {  
  margin-left: 340px;
}

.promotion-1 a:hover,
.promotion-2 a:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.promotion-1 a:active,
.promotion-2 a:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.items {
  height: 400px;  
  font-size: 0;
}

.item {
  height: 400px;
  width: 267px;
  display: inline-block;
  vertical-align: top;  
  font-size: 45px;
  margin-right: 26px;
}

.item:last-child {  
  margin-right: 0;
}

.img-1 {
  height: 267px;
  width: 267px;
  background-image: url(../img/img-1.png);
  margin-top: 40px;
  box-sizing: border-box; 
  padding-top: 150px;
  position: relative;
}

.img-2 {
  height: 267px;
  width: 267px;
  background-image: url(../img/img-2.png);
  margin-top: 40px;
  box-sizing: border-box;  
  padding-top: 150px;
  position: relative;
}

.img-3 {
  height: 267px;
  width: 267px;
  background-image: url(../img/img-3.png);
  margin-top: 40px;
  box-sizing: border-box;  
  padding-top: 150px;
  position: relative;
}

.img-4 {
  height: 267px;
  width: 267px;
  background-image: url(../img/img-4.png);
  box-sizing: border-box;
  margin-top: 40px;  
  padding-top: 150px;
  position: relative;
  
}

.img-1::before,
.img-2::before,
.img-3::before,
.img-4::before {
  content: "";
  position: absolute;
  height: 61px;
  width: 61px;
  top: 0;
  left: 0;
  background-image: url(../img/sprite-2.png);  
}

.item-price {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;  
  font-weight: bold;
  color: #fff;
  margin-top: 50px;
 
}

.item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;  
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
  display: block;
  margin-top: 15px;
  text-align: center;
}

.item a:hover,
.item a:active {  
  color: #FFBC9E;  
}

.info-block-1 {
  height: 306px;
  background-image: url("../img/info-block-1-bg.png");
  box-sizing: border-box;
  padding-top: 3px;

}

.info-block-1 h3{
    width: 1010px;
    height: 60px;  
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;  
    font-weight: 500;
    color: #323232;
    margin-left: 20px;
    margin-bottom: 10px;    
}

.info-block-1-text {
    width: 540px;
    height: 185px;
    float: left;
    margin-left: 20px;  
}

.info-block-1-textlast-child {   
    margin-right: 0;   
}

.info-block-1-text p {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    font-weight: normal;
    color: #323232;
    padding-left: 55px;
    position: relative;    
}

.info-block-1-text p::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    top: -15px;
    left: 0;   
}

.info-block-1-text-1::before {
    background-image: url("../img/sprite-2.png");
    background-position: 49px 0px;   
}

.info-block-1-text-2::before {
    background-image: url("../img/sprite-2.png");
    background-position: 146px 0px;   
}

.info-block-1-text-3::before {
    background-image: url("../img/sprite-2.png");
    background-position: -61px 0px;   
}

.info-block-1-text-4::before {
    background-image: url("../img/sprite-2.png");
    background-position: 97px 0px;   
}

.info-block-2 {
   height: 300px;  
}

.ten-ways {
  width: 560px;
  height: 220px;
  float: left;
  background-image: url("../img/info-block-2-bg.png");
  margin-top: 40px; 
}

.ten-ways-title {
   font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    font-weight: 500;
    color: #323232;
   display: block;
   height: 22px;
   width: 200px;
   margin-left: 20px;
   margin-top: 20px; 
}

.ten-ways-text {
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;  
    font-weight: bold;
    color: #323232;
   display: block;
   height: 60px;
   width: 290px;
   text-decoration: underline;
   margin-left: 20px;
   margin-top: 15px; 
}

.ten-ways-text:hover,
.ten-ways-text:active {
   color: #E84D37;
}

.form-newsletter {
  width: 560px;
  height: 220px;
  float: right;
  background-image: url("../img/form-newsletter-bg.png");
  margin-top: 40px; 
}

.form-newsletter-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;  
    font-weight: normal;
    color: #5a5a5a;   
   height: 66px;
   width: 510px;
   margin-left: 30px;
   margin-top: 40px;
}

.form-newsletter form {   
   margin-left: 30px;
   margin-top: 30px;
}


.form-newsletter input[type="email"] {
  width: 370px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #D3D3D2;
  font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;  
    font-weight: normal;  
  box-sizing: border-box;
  padding-left: 15px;
  margin-right: 5px; 
}

.form-newsletter input[type="submit"] {
  width: 130px;
  height: 45px;
  border-radius: 20px;
  font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;  
    font-weight: bold;
    color: #fefefe;    
    border: none;  
    cursor: pointer;
     background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.form-newsletter input[type="submit"]:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.form-newsletter input[type="submit"]:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.map {  
  height: 411px;
  background-image: url("../img/map.jpg");
  box-sizing: border-box;
  padding-top: 60px;
}

.contacts {
  min-height: 300px;
  width: 300px;
  background-color: #FDFDFD;
  border-radius: 15px;
  margin-left: 800px;
  box-sizing: border-box;
  padding-top: 25px;
}

.adress {    
    width: 225px;
    height: 90px;
    margin-left: 25px;        
}

.adress span {
    display: block;
    width: 155px;
    height: 40px;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;  
    font-weight: normal;
    color: #323232; 
}

.adress b {
    display: block;
    width: 225px;
    height: 48px;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;  
    font-weight: bold;
    color: #323232; 
}

.phone {
    width: 180px;
    height: 70px;
    margin-left: 25px;
    margin-top: 15px;
}

.phone-text-1 {
    display: block;
    width: 175px;
    height: 20px;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;  
    font-weight: normal;
    color: #323232;     
}

.phone b {
    display: block;
    width: 140px;
    height: 22px;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 22px;  
    font-weight: bold;
    color: #323232;
}

.phone-text-2 {
    display: block;
    width: 155px;
    height: 44px;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;  
    font-weight: normal;
    color: #323232; 
}

.contacts button {    
    width: 250px;
    height: 45px;   
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;  
    font-weight: bold;
    color: #fefefe;
    cursor: pointer;
    border: none; 
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  margin-left: 25px;
  margin-top: 20px;
}

.contacts button:hover {    
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.contacts button:active {    
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.main-footer {
  min-height: 105px;
  background-color yellow;
}

.social {
  height: 38px;
  width: 250px;
  float: left;
  margin-top: 35px;  
}

.social a {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 3px solid #C2CEC7;
  float: left;
  margin-left: 10px;
  position: relative;  
}

.social a:first-child {  
  margin-left: 0; 
}

.social a::before {
  content: "";
  position: absolute;
  height: 32px;
  width: 32px;  
}

.social .tw::before {
    background-image: url("../img/sprite-3.png");
    background-position: 98px 0px;
}

.social .inst::before {
    background-image: url("../img/sprite-3.png");
    background-position: 130px 0px;
}

.social .fb::before {
    background-image: url("../img/sprite-3.png");
    background-position: -32px 0px;
}

.social .vk::before {
    background-image: url("../img/sprite-3.png");
    background-position: 0px 0px;
}

.social a:hover {
  opacity: 0.8;
}

.social a:active {
    box-shadow: 0px 2px 0px 2px #000 inset; 
}

.footer-info-block {
   min-height: 40px;
   width: 350px;
   float: left;
   margin-top: 35px;
   margin-left: 150px;   
}

.footer-info-block-text {
  width: 165px;
  min-height: 36px;
  float: left;
  padding-left: 25px;  
  
}

.footer-info-block-text:first-child {
  width: 115px;
  margin-right: 10px;
  position: relative; 
}

.footer-info-block-text:first-child:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    top: 6px;
    left: 0;
    background-image: url("../img/sprite-1.png");
    background-position: 36px 0px;
}

.footer-info-block-text a {  
   font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;  
    font-weight: normal;
    color: #fff; 
    text-decoration: underline;  
}

.footer-info-block-text .bold {
    font-weight: bold;
}

.footer-info-block-text a:hover,
.footer-info-block-text a:active {  
   color: #FFBC9E;
}

.html-academy {
    min-height: 60px;
    width: 200px;
    float: right;
    box-sizing: border-box;
    padding-top: 40px;
    margin-top: 20px;
    position: relative;       
}

.html-academy::before {
   content: "";
   position: absolute;
   width: 108px;
   height: 38px;
   top: 0;
   left: 0;
   background-image: url("../img/sprite-3.png");
   background-position: -64px;
}

.html-academy-text {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;  
    font-weight: normal;
    color: #fefefe;    
}

.html-academy-text a {    
    color: #fefefe;
    text-decoration: underline;
}

.html-academy-text a:hover,
.html-academy-text a:active {    
    color: #FFBC9E;   
}